body
{
    background-color: #1c2020;
    margin: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar
{
    display: none; /*for Chrome, Safari and Opera */
}
header
{
    display: flex;
}