{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'javascript/weather_station.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/chart.js' %}"></script>

    <title>Weather Station</title>
</head>

<body>
    <div class="row">
        <div class="bloc col time_bloc">
            <span class="center time" id="time"></span>
            <span class="center date" id="date"></span>
        </div>
        <div class="bloc col suntime_bloc" id="sunriseSunsetTime">
            <div class="row"><img id="imageSunrise" src="{% static 'images/Sunrise.png' %}" />
                <div id="sunrise_time" class="col center"></div>
            </div>
            <div class="row"><img id="imageSunset" src="{% static 'images/Sunset.png' %}" />
                <div id="sunset_time" class="col center"></div>
            </div>
        </div>
        <div class="bloc short_forecast" id="short_forecast">
            <div class="col">
                <span class="forecast_title center">Now</span>
                <img id="current_forecast_image" src="" class="forecast_image">
                <span id="current_forecast" class="center"></span>
            </div>
            <div class="col">
                <span class="forecast_title center">+ 1H</span>
                <img id="+1h_forecast_image" src="" class="forecast_image">
                <span id="+1h_forecast" class="center"></span>
            </div>
            <div class="col">
                <span class="forecast_title center">+ 3H</span>
                <img id="+3h_forecast_image" src="" class="forecast_image">
                <span id="+3h_forecast" class="center"></span>
            </div>
            <div class="col">
                <span class="forecast_title center">+ 6H</span>
                <img id="+6h_forecast_image" src="" class="forecast_image">
                <span id="+6h_forecast" class="center"></span>
            </div>

        </div>
    </div>
    <div class="row">
        <!-- Inside Bloc -->
        <div class="bloc inside_bloc">
            <div class="row center block_title">Inside</div>
            <div class="row center">
                <div class="col actual_data">
                    <span class="center inside_temperature">
                        <span id="inside_temperature" class="data_value"></span>
                        <span class="unit">C°</span>
                    </span>
                    <span class="center inside_humidity">
                        <span id="inside_humidity" class="data_value"></span>
                        <span class="unit">%</span>
                    </span>
                </div>
            </div>
        </div>

        <!-- Outside Bloc -->
        <div class="bloc outside_bloc">
            <div class="row center block_title">Outside</div>
            <div class="row center">
                <div class="col actual_data">
                    <span class="center outside_temperature">
                        <span id="outside_temperature" class="data_value"></span>
                        <span class="unit">C°</span>
                    </span>
                    <span class="center outside_humidity">
                        <span id="outside_humidity" class="data_value"></span>
                        <span class="unit">%</span>
                    </span>
                </div>

                <div class="col min_max">
                    <div class="row center block_title">- 24 h</div>
                    <div class="bloc min">
                        <span id="outside_min" class=""></span>
                        <span class="unit">C° Min</span>
                    </div>
                    <div class="bloc average">
                        <span id="outside_average" class=""></span>
                        <span class="unit">C° Avr</span>
                    </div>
                    <div class="bloc max">
                        <span id="outside_max" class=""></span>
                        <span class="unit">C° Max</span></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- wind Bloc -->
        <div class="bloc wind_bloc">
            <div class="row center block_title">Pression et vent</div>
            <div class="row center">
                <div class="col actual_data">
                    <span class="center">
                        <span id="pressure" class="data_value"></span>
                        <span class="unit">Hpa</span>
                    </span>
                    <span class="center">
                        <span id="wind" class="data_value"></span>
                        <span class="unit"> Km/h </span>
                        <span id="wind_direction" class="data_value"></span>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="row bloc">
        <div class="col config_graph">
            <div class="">
                <legend>{{ form.chart_type.label }}</legend>
                {% for radio in form.chart_type %}
                <div class="myradio">
                    {{ radio }}
                </div>
                {% endfor %}
            </div>
            <div class="">
                <legend>{{ form.chart_timing.label }}</legend>
                {% for radio in form.chart_timing %}
                <div class="myradio">
                    {{ radio }}
                </div>
                {% endfor %}
            </div>
            <div id="date_range_picker" class="row filter_form" style="display: None;">
                <div class="col">
                    <label for="start_date_select">Date de début</label>
                    <input type="date" id="start_date_select" onchange="fill_chart()">
                </div>
                <div class="col">
                    <label for="end_date_select">Date de fin</label>
                    <input type="date" id="end_date_select" onchange="fill_chart()">
                </div>
            </div>

        </div>
        <div class="col graph_bloc">
            <canvas id="chart_canvas"></canvas>
        </div>
        <script>
            fill_chart()
        </script>

    </div>
</body>