{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'javascript/weather_station.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/chart.js' %}"></script>

    <title>Weather Station</title>
</head>

<body>
    <div class="row">
        <div class="block col time_bloc">
            <span class="center time" id="time"></span>
            <span class="center date" id="date"></span>
        </div>
        <div class="block col suntime_bloc" id="sunriseSunsetTime">
            <div class="row"><img id="imageSunrise" src="{% static 'images/Sunrise.png' %}"/><div id="sunrise_time" class="col center"></div></div>
            <div class="row"><img id="imageSunset" src="{% static 'images/Sunset.png' %}"/><div id="sunset_time" class="col center"></div></div>
        </div>
    </div>
    <div class="row">
        <!-- Inside Block -->
        <div class="block inside_bloc">
            <div class="row center block_title">Inside</div>
            <div class="row">
                <div class="col actual_data">
                    <span class="center inside_temperature" id="inside_temp">35.2 <span class="unit">C°</span></span>
                    <span class="center inside_humidity" id="inside_humidity">42 <span class="unit">%</span></span>
                </div>
            </div>
        </div>

        <!-- Outside Block -->
        <div class="block outside_bloc">
            <div class="row center block_title">Outside</div>
            <div class="row">
                <div class="col actual_data">
                    <span class="center outside_temperature" id="outside_temp">35.2 <span class="unit">C°</span></span>
                    <span class="center outside_humidity" id="outside_humidity">42 <span class="unit">%</span></span>
                </div>

                <div class="col min_max">
                    <div class="row center block_title">- 24 h</div>
                    <div class="block min">
                        <span class="center outside_min_temp" id="outside_min_temp">14 <span
                                class="unit">C° Min</span></span>
                    </div>
                    <div class="block average">
                        <span class="center outside_average_temp" id="outside_average_temp">28 <span
                                class="unit">C° Avr</span></span>
                    </div>
                    <div class="block max">
                        <span class="center outside_max_temp" id="outside_max_temp">37 <span
                                class="unit">C° Max</span></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="l33">
            <legend>{{ form.chart_type.label }}</legend>
            {% for radio in form.chart_type %}
            <div class="myradio">
                {{ radio }}
            </div>
            {% endfor %}
        </div>
        <div class="l33">
            <legend>{{ form.chart_timing.label }}</legend>
            {% for radio in form.chart_timing %}
            <div class="myradio">
                {{ radio }}
            </div>
            {% endfor %}
        </div>

        <div id="date_range_picker" class="row filter_form" style="display: None;">
            <div class="l5 m5 s10">
                <input type="date" id="start_date_select" onchange="fill_chart()">
                <label for="start_date_select">Date de début</label>
            </div>
            <div class="l5 m5 s10">
                <input type="date" id="end_date_select" onchange="fill_chart()">
                <label for="end_date_select">Date de fin</label>
            </div>
        </div>
    </div>
    <div class="row">
        <canvas id="chart_canvas"></canvas>
    </div>
</body>