{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'javascript/weather_station.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/chart.js' %}"></script>

    <title>Weather Station</title>
</head>

<body>
    <div class="row">
        <div class="bloc col time_bloc">
            <span class="center time" id="time"></span>
            <span class="center date" id="date"></span>
        </div>
        <div class="bloc col suntime_bloc" id="sunriseSunsetTime">
            <div class="row"><img id="imageSunrise" src="{% static 'images/Sunrise.png' %}" />
                <div id="sunrise_time" class="col center"></div>
            </div>
            <div class="row"><img id="imageSunset" src="{% static 'images/Sunset.png' %}" />
                <div id="sunset_time" class="col center"></div>
            </div>
        </div>
        <div class="bloc short_forecast" id="short_forecast">
            <div class="col">
                <span class="forecast_title">Now</span>
                <img id="current_forecast_image" src="" class="forecast_image">
                <span id="current_forecast"></span>
            </div>
            <div class="col">
                <span class="forecast_title">+ 1H</span>
                <img id="+1h_forecast_image" src="" class="forecast_image">
                <span id="+1h_forecast"></span>
            </div>
            <div class="col">
                <span class="forecast_title">+ 3H</span>
                <img id="+3h_forecast_image" src="" class="forecast_image">
                <span id="+3h_forecast"></span>
            </div>
            <div class="col">
                <span class="forecast_title">+ 6H</span>
                <img id="+6h_forecast_image" src="" class="forecast_image">
                <span id="+6h_forecast"></span>
            </div>

        </div>
    </div>
    <div class="row">
        <!-- Inside Bloc -->
        <div class="bloc inside_bloc">
            <div class="row center block_title">Inside</div>
            <div class="row">
                <div class="col actual_data">
                    <span class="center inside_temperature" id="inside_temp">
                        {{ inside_actual_data.temperature }}
                        <span class="unit">C°</span></span>
                    <span class="center inside_humidity" id="inside_humidity">
                        {{ inside_actual_data.humidity }}
                        <span class="unit">%</span></span>
                </div>
            </div>
        </div>

        <!-- Outside Bloc -->
        <div class="bloc outside_bloc">
            <div class="row center block_title">Outside</div>
            <div class="row">
                <div class="col actual_data">
                    <span class="center outside_temperature" id="outside_temp">
                        {{ actual_data.temperature }}
                        <span class="unit">C°</span></span>
                    <span class="center outside_humidity" id="outside_humidity">
                        {{ actual_data.humidity }}
                        <span class="unit">%</span></span>
                </div>

                <div class="col min_max">
                    <div class="row center block_title">- 24 h</div>
                    <div class="bloc min">
                        <span class="center outside_min_temp" id="outside_min_temp">14 <span class="unit">C°
                                Min</span></span>
                    </div>
                    <div class="bloc average">
                        <span class="center outside_average_temp" id="outside_average_temp">28 <span class="unit">C°
                                Avr</span></span>
                    </div>
                    <div class="bloc max">
                        <span class="center outside_max_temp" id="outside_max_temp">37 <span class="unit">C°
                                Max</span></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- wind Bloc -->
        <div class="bloc wind_bloc">

        </div>

    </div>
</body>